<div class="home-header">
  <h2 class="home-h2">Welcome to</h2>
  <h1 class="home-h1">Cocktail Chemist</h1>
  <h2 class="home-h2">Where you can post your own cocktail creations and share it with the world.</h2>
</div>
<div id="home-button">
  <%= link_to "Cocktails", cocktails_path, class: "to-index"%>
</div>
