<div class="container">

  <h1>Welcome to the Cocktail Chemist</h1>
  <div class="cards">
    <div class="row">
      <% @cocktails.each do |c| %>
        <div class="card">
          <div class="centered-a"><%= link_to c.name, cocktail_path(c.id) %></div>
          <div class="delete"><%= link_to "remove", cocktail_path(c.id), method: :delete %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="btn-add">
    <%= link_to "Add a new cocktail!", new_cocktail_path %>
  </div>
</div>
