<div class="container">

  <h1>Your Cocktails</h1>
  <div class="cards">
    <div class="row">
      <% @cocktails.each do |c| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= c.photo %>');">
          <div class="centered-a"><%= link_to c.name, cocktail_path(c.id), class: "name" %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="btn-add">
    <%= link_to "Add a new cocktail!", new_cocktail_path, class: "btn-add" %>
  </div>
</div>
