<div class="container">

  <h1>Your Cocktails</h1>
  <div class="cards">
    <div class="row">
      <% @cocktails.each do |c| %>
        <% background_url = c.photo %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
          <div class="centered-a"><%= link_to c.name, cocktail_path(c.id) %></div>
          <div class="delete"><%= link_to "remove", cocktail_path(c.id), method: :delete %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="btn-add">
    <%= link_to "Add a new cocktail!", new_cocktail_path %>
  </div>
</div>
