body {
  background: url(https://images.unsplash.com/photo-1544701545-b2dc4c02ffd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 50px;
  font-family: 'Dancing Script', cursive;
}

.card {
  background: white;
  height: 250px;
  border: .5px solid white;
  margin: 15px 8px;
  background-size: cover;
  text-align: center;
}

.centered-a {
  margin: auto;
}

.name {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.btn-add {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 60px;
  a {
    text-decoration: none;
    color: white;
    border: .5px solid white;
    padding: 5px 15px;
    border-radius: 5px;
  }
}
