.home-header {
  margin-top: 200px;
}
.home-h1 {
  display: flex;
  justify-content: center;
  color: white;
  align-item: center;
  font-size: 167px;
  font-family: 'Dancing Script', cursive;
  margin-top: 10px;
}

.home-h2 {
  display: flex;
  justify-content: center;
  font-family: $headers-font;
  color: white;
  font-size: 23px;
}

#home-button {
  display: flex;
  justify-content: center;
}

.to-index {
  text-decoration: none;
  color: white;
  background-color: black;
  border: .5px solid white;
  border-radius: 5px;
  padding: 8px 56px;
  border-radius: 5px;
  margin-top: 10px;
}



